html {
	min-height: 100%;
	width: 100%;
}

body {
  background-image: url('../img/atmos-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  color: lightgray;
  font-family: 'Poppins', sans-serif;
  letter-spacing: .13em;
  min-height: 100%;
  width: 100%;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.app {
  min-height: 100%;
  width: 100%;
}

.main-container {
  box-shadow: 0 0 5px 5px #d1d0d0;
  display: flex;
  flex-direction: row;
  min-height: 100%;
  width: 100%;
}

.left {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100vh;
}

.left h1 {
  letter-spacing: 0.25em;
  margin-top: 5%;
  font-size: 5em;
}

.left h2 {
  letter-spacing: 0.2em;
  font-size: 3em;
  font-weight: 100;
  margin-top: 0;
}

.left h3 {
  margin-top: 4.05%;
}

.current-container {
  align-self: center;
  background: rgba(120, 120, 120, 0.5);
  border-radius: 5%;
  box-shadow: inset 0 0 1px 1px #78787880, 0 0 1px 2px #78787880;
  width: 66%;
  text-align: center;
}

.right {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100vh;
} 

.hourly-container,
.daily-container
{
  height: 100vh;
  width: 50%;
}

.label-text {
  margin-left: 31%;
}

.seven-hour,
.ten-day
{
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.houly-card-container,
.daily-card-container  
{
  background: rgba(120, 120, 120, 0.5);
  border-radius: 6% / 3%;
  box-shadow: inset 0 0 1px 1px #78787880, 0 0 1px 2px #78787880;
  width: 85%;
  display: flex;
  justify-content: center;
  padding-top: 32px;
  height: 82%;
  overflow: auto;
} 

.card {
  background: #78787880;
  border-radius: 5%;
  box-shadow: inset 0 0 1px 1px #78787880, 0 0 1px 2px #78787880;
  margin-bottom: 32px;
  width: 80%;
  text-align: center;
}

.welcome-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.welcome-container h1 {
  letter-spacing: 0.25em;
  margin-top: 5%;
  font-size: 5em;
}

.welcome-container h2 {
  letter-spacing: 0.2em;
  font-size: 3em;
  font-weight: 100;
  margin-top: 2%;
}

.search {
  margin-top: 7%;
  width: 100%;
}

.welcome-container input {
  background: rgba(120, 120, 120, 0.5);
  border: none;
  border-radius: 2% / 30% 0 0 30%;
  vertical-align: middle;
  font-size: 1.5em;
  width: 20%;
  padding: .44em;
}

.welcome-container button {
  background: rgba(120, 120, 120, 0.5);
  border: none;
  border-top-right-radius: 15% 23%;
  border-bottom-right-radius: 15% 23%;
  color: lightgray;
  vertical-align: middle;
  height: 3em;
  outline: none;
  font-weight: 600;
  letter-spacing: 0.05em;
}

.left input {
  background: rgba(120, 120, 120, 0.5);
  border: none;
  border-radius: 2% / 30% 0 0 30%;
  font-size: 1.5em;
  margin-left: 7%;
  padding: .44em;
  vertical-align: middle;
  width: 70%;
}

.left button {
  background: rgba(120, 120, 120, 0.5);
  border: none;
  border-top-right-radius: 15% 23%;
  border-bottom-right-radius: 15% 23%;
  color: lightgray;
  vertical-align: middle;
  height: 3em;
  outline: none;
  font-weight: 600;
  letter-spacing: 0.05em;
}