html {
	height: 100%;
	width: 100%;
}

body {
  background-color: #14497F;
  color: #3A5C7F;
  /* display: flex; */
  height: 100%;
  width: 100%;
}

.app {
  height: 100%;
  width: 100%;
}

.current-container {
  background-color: #74B9FF
}

/* .hourly-container {
} */

.card {
  background-color: #74B9FF;
  width: 20%;
}