html {
	min-height: 100%;
	width: 100%;
}

body {
  background: linear-gradient(to left top, #5c7ff1, #e79464) no-repeat;
  box-sizing: border-box;
  /* background-color: #14497F; */
  color: #3A5C7F;
  min-height: 100%;
  width: 100%;
}

.app {
  min-height: 100%;
  width: 100%;
}

.main-container {
  box-shadow: 0 0 5px 5px #d1d0d0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
}

.current-container {
  align-self: center;
  background-color: #d1d0d0;
  width: 50%;
  text-align: center;
}

.card {
  background-color: #d1d0d0;
  box-shadow: 0 0 5px 5px #d1d0d0;
  width: 20%;
  text-align: center;
}